a {
  color: #2c2727;
  text-decoration: none;
  cursor: pointer;
}
.vertical-line::before {
  content: '';
  border-left: 3px solid #890c0c;
  height: 230px;
  display: block;
}
.color-white {
  color: #fff;
}
.color-960C0C {
  color: #960c0c;
}
.color-960D0D {
  color: #960d0d;
}
.text-align {
  text-align: justify;
}
.footer-bg {
  background-color: #f2f2f2;
}
.cursor-point {
  cursor: pointer;
}
.bg-fafafa {
  background: #fafafa;
}
.right-17vw {
  right: 17vw;
}
.right-43vw {
  right: 43vw;
}

.ff-lexend {
  font-family: 'Lexend', sans-serif;
}
.z-index--1000 {
  z-index: -1000;
}
.z-index-dropdown {
  z-index: 1000;
}
.z-index-sticky {
  z-index: 2000;
}
.z-index-fixed {
  z-index: 3000;
}
.z-index-modal-backdrop {
  z-index: 4000;
}
.z-index-offcanvas {
  z-index: 5000;
}
.z-index-modal {
  z-index: 6000;
}
.z-index-popover {
  z-index: 7000;
}
.z-index-tooltip {
  z-index: 8000;
}

/*//////////////////////////////////////////////////////////      SM     //////////////////////////////////////////////////// */
@media screen and (min-width: 576px) {

}
/*//////////////////////////////////////////////////////////      MD     //////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
  .mt-260px-md {
    margin-top: 260px;
  }

}

/*//////////////////////////////////////////////////////////      LG     //////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .mt-200px-lg {
    margin-top: 200px;
  }
}
/*//////////////////////////////////////////////////////////      XL     //////////////////////////////////////////////////// */

@media only screen and (min-width: 1200px) {
}
.top--116vh-xl {
  top: -116vh;
}
/*//////////////////////////////////////////////////////////      XXL     //////////////////////////////////////////////////// */
@media only screen and (min-width: 1400px) {
}
