a {
  color: #2c2727 !important;
  text-decoration: none !important;
  cursor: pointer;
}
.underline-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
.centered-sub {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.underline-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #b10c0c;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.underline-button:hover::after {
  transform: scaleX(1);
}

.image-container {
  height: 200px;
}
.image-container img {
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.2);
}
.square-container {
  width: 80%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 5000;
}
.ml--114px-global {
  margin-left: -114px;
}
.white-space-noWrap {
  white-space: nowrap;
}
.square-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.mr-24vw-global {
  margin-right: 24vw;
}
.pb-100pc-global {
  padding-bottom: 100%;
}
.vertical-line::before {
  content: '';
  border-left: 3px solid #890c0c;
  height: 230px;
  display: block;
}
.color-6C6C6C {
  color: #6c6c6c !important;
}
.color-2c2727 {
  color: #2c2727;
}
.color-1d1b1b {
  color: #1d1b1b;
}
.color-red {
  color: red;
}
.border-none {
  border: none;
}
.outline-none {
  outline: none;
}
.height-2px-global {
  height: 2px;
}
.color-white {
  color: #fff;
}
.color-960C0C {
  color: #960c0c !important;
}
.color-960D0D {
  color: #960d0d;
}
.text-align {
  text-align: justify;
}
.footer-bg {
  background-color: #f2f2f2;
}
.bg-f8f7f7 {
  background-color: #f8f7f7;
}
.cursor-point {
  cursor: pointer;
}
.bg-fafafa {
  background: #fafafa;
}
.right-17vw {
  right: 17vw;
}
.right-0 {
  right: 0;
}
.right-42vw-global {
  right: 42vw;
}

.ff-lexend {
  font-family: 'Lexend', sans-serif;
}
.z-index--100 {
  z-index: -1000;
}
.z-index--1000 {
  z-index: -1000;
}
.z-index-dropdown {
  z-index: 1000;
}
.z-index-sticky {
  z-index: 2000;
}
.z-index-fixed {
  z-index: 3000;
}
.z-index-modal-backdrop {
  z-index: 4000;
}
.z-index-offcanvas {
  z-index: 5000;
}
.z-index-modal {
  z-index: 6000;
}
.z-index-popover {
  z-index: 7000;
}
.z-index-tooltip {
  z-index: 8000;
}
@media (width<= 576px) {
  .fs-11px {
    font-size: 11px;
  }
}
/*//////////////////////////////////////////////////////////      SM     //////////////////////////////////////////////////// */
@media screen and (min-width: 576px) {
}
/*//////////////////////////////////////////////////////////      MD     //////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
  .mt-260px-md {
    margin-top: 260px;
  }
}

/*//////////////////////////////////////////////////////////      LG     //////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .mt-200px-lg {
    margin-top: 200px;
  }
}
/*//////////////////////////////////////////////////////////      XL     //////////////////////////////////////////////////// */

@media only screen and (min-width: 1200px) {
}
.top--116vh-xl {
  top: -116vh;
}
/*//////////////////////////////////////////////////////////      XXL     //////////////////////////////////////////////////// */
@media only screen and (min-width: 1400px) {
}
@media (width<= 576px) {
  .PhuongKeXS {
    position: absolute;
    left: 35%;
    margin-top: -210px;
  }
  .BanNgheXS {
    position: absolute;
    left: 41%;
    margin-top: -182px;
  }
}
@media (576px<width<= 768px) {
  .PhuongKeSM {
    position: absolute;
    left: 40%;
    margin-top: -220px;
  }
  .BanNgheSM {
    position: absolute;
    left: 45%;
    margin-top: -192px;
  }
}

.footer-text {
  font-family: 'Lexend', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 6px;
}
