// height, width, margin (top left right bottom) 2px  --> 100px  step 2 begin
@for $i from 2 through 400 {
  $isMultipleOf2: $i % 2 == 0;
  @if $isMultipleOf2 {
    @media (width<= 576px) {
      .h-#{$i}px {
        height: #{$i}px;
      }
      .w-#{$i}px {
        width: #{$i}px;
      }
      .mt-#{$i}px {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px {
        top: #{$i}px;
      }
      .left-#{$i}px {
        left: #{$i}px;
      }
      .right-#{$i}px {
        right: #{$i}px;
      }
      .bottom-#{$i}px {
        bottom: #{$i}px;
      }
      .padding-#{$i}px {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px {
        border-radius: #{$i}px;
      }
    }
    @media (576px<width<= 768px) {
      .h-#{$i}px-sm {
        height: #{$i}px;
      }
      .w-#{$i}px-sm {
        width: #{$i}px;
      }
      .mt-#{$i}px-sm {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px-sm {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px-sm {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px-sm {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px-sm {
        top: #{$i}px;
      }
      .left-#{$i}px-sm {
        left: #{$i}px;
      }
      .right-#{$i}px-sm {
        right: #{$i}px;
      }
      .bottom-#{$i}px-sm {
        bottom: #{$i}px;
      }
      .padding-#{$i}px-sm {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px-sm {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px-sm {
        border-radius: #{$i}px;
      }
    }

    @media (768px<width<= 992px) {
      .h-#{$i}px-md {
        height: #{$i}px;
      }
      .w-#{$i}px-md {
        width: #{$i}px;
      }
      .mt-#{$i}px-md {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px-md {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px-md {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px-md {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px-md {
        top: #{$i}px;
      }
      .left-#{$i}px-md {
        left: #{$i}px;
      }
      .right-#{$i}px-md {
        right: #{$i}px;
      }
      .bottom-#{$i}px-md {
        bottom: #{$i}px;
      }
      .padding-#{$i}px-md {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px-md {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px-md {
        border-radius: #{$i}px;
      }
    }
    @media (992px<width<= 1200px) {
      .h-#{$i}px-lg {
        height: #{$i}px;
      }
      .w-#{$i}px-lg {
        width: #{$i}px;
      }
      .mt-#{$i}px-lg {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px-lg {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px-lg {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px-lg {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px-lg {
        top: #{$i}px;
      }
      .left-#{$i}px-lg {
        left: #{$i}px;
      }
      .right-#{$i}px-lg {
        right: #{$i}px;
      }
      .bottom-#{$i}px-lg {
        bottom: #{$i}px;
      }
      .padding-#{$i}px-lg {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px-lg {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px-lg {
        border-radius: #{$i}px;
      }
    }
    @media (1200px<width<= 1400px) {
      .h-#{$i}px-xl {
        height: #{$i}px;
      }
      .w-#{$i}px-xl {
        width: #{$i}px;
      }
      .mt-#{$i}px-xl {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px-xl {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px-xl {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px-xl {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px-xl {
        top: #{$i}px;
      }
      .left-#{$i}px-xl {
        left: #{$i}px;
      }
      .right-#{$i}px-xl {
        right: #{$i}px;
      }
      .bottom-#{$i}px-xl {
        bottom: #{$i}px;
      }
      .padding-#{$i}px-xl {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px-xl {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px-xl {
        border-radius: #{$i}px;
      }
    }
    @media (1400px<width) {
      .h-#{$i}px-xxl {
        height: #{$i}px;
      }
      .w-#{$i}px-xxl {
        width: #{$i}px;
      }
      .mt-#{$i}px-xxl {
        margin-top: #{$i}px;
      }
      .mr-#{$i}px-xxl {
        margin-right: #{$i}px;
      }
      .ml-#{$i}px-xxl {
        margin-left: #{$i}px;
      }
      .mb-#{$i}px-xxl {
        margin-bottom: #{$i}px;
      }
      .top-#{$i}px-xxl {
        top: #{$i}px;
      }
      .left-#{$i}px-xxl {
        left: #{$i}px;
      }
      .right-#{$i}px-xxl {
        right: #{$i}px;
      }
      .bottom-#{$i}px-xxl {
        bottom: #{$i}px;
      }
      .padding-#{$i}px-xxl {
        padding: #{$i}px;
      }
      .padding-#{$i}px-#{$i}px-xxl {
        padding: #{$i}px #{$i}px;
      }
      .br-#{$i}px-xxl {
        border-radius: #{$i}px;
      }
    }
  }
}
// height, width, margin (top left right bottom) 2px  --> 100px  step 2 begin

// font size-2px  --> font size-50px  step 2 begin
@for $i from 2 through 50 {
  $isMultipleOf2: $i % 2 == 0;
  @if $isMultipleOf2 {
    @media (width<= 576px) {
      .fs-#{$i}px {
        font-size: #{$i}px !important;
      }
    }
    @media (576px<width<= 768px) {
      .fs-#{$i}px-sm {
        font-size: #{$i}px !important;
      }
    }
    @media (768px<width<= 992px) {
      .fs-#{$i}px-md {
        font-size: #{$i}px !important;
      }
    }
    @media (992px<width<= 1200px) {
      .fs-#{$i}px-lg {
        font-size: #{$i}px !important;
      }
    }
    @media (1200px<width<= 1400px) {
      .fs-#{$i}px-xl {
        font-size: #{$i}px !important;
      }
    }
    @media (1400px<width) {
      .fs-#{$i}px-xxl {
        font-size: #{$i}px !important;
      }
    }
  }
}
// font size-2px  --> font size-50px  step 2 begin

// width-30percent  --> 40 percent  step 1 begin
@for $i from 1 through 100 {
  $percent: $i * 1%;
  @media (width<= 576px) {
    .w-#{$i}pc {
      width: $percent;
    }
    .w-#{$i}vw {
      width: #{$i}vw;
    }
    .h-#{$i}vh {
      height: #{$i}vh;
    }
    .h-#{$i}pc {
      height: $percent;
    }
    .left-#{$i}vw {
      left: #{$i}vw;
    }
    .right-#{$i}vw {
      right: #{$i}vw;
    }
    .top-#{$i}vh {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh {
      bottom: #{$i}vh;
    }
    .letter-spacing-#{$i}px {
      letter-spacing: #{$i}px;
    }
  }
  @media (576px<width<= 768px) {
    .w-#{$i}pc-sm {
      width: $percent;
    }
    .w-#{$i}vw-sm {
      width: #{$i}vw;
    }
    .h-#{$i}vh-sm {
      height: #{$i}vh;
    }
    .h-#{$i}pc-sm {
      height: $percent;
    }
    .letter-spacing-#{$i}px-sm {
      letter-spacing: #{$i}px;
    }
    .left-#{$i}vw-sm {
      left: #{$i}vw;
    }
    .right-#{$i}vw-sm {
      right: #{$i}vw;
    }
    .top-#{$i}vh-sm {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-sm {
      bottom: #{$i}vh;
    }
  }
  @media (768px<width<= 992px) {
    .w-#{$i}pc-md {
      width: $percent;
    }
    .w-#{$i}vw-md {
      width: #{$i}vw;
    }
    .h-#{$i}vh-md {
      height: #{$i}vh;
    }
    .h-#{$i}pc-md {
      height: $percent;
    }
    .left-#{$i}vw-md {
      left: #{$i}vw;
    }
    .right-#{$i}vw-md {
      right: #{$i}vw;
    }
    .top-#{$i}vh-md {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-md {
      bottom: #{$i}vh;
    }
    .letter-spacing-#{$i}px-md {
      letter-spacing: #{$i}px;
    }
  }
  @media (992px<width<= 1200px) {
    .w-#{$i}pc-lg {
      width: $percent;
    }
    .w-#{$i}vw-lg {
      width: #{$i}vw;
    }
    .h-#{$i}vh-lg {
      height: #{$i}vh;
    }
    .h-#{$i}pc-lg {
      height: $percent;
    }
    .left-#{$i}vw-lg {
      left: #{$i}vw;
    }
    .right-#{$i}vw-lg {
      right: #{$i}vw;
    }
    .top-#{$i}vh-lg {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-lg {
      bottom: #{$i}vh;
    }
    .letter-spacing-#{$i}px-lg {
      letter-spacing: #{$i}px;
    }
  }
  @media (1200px<width<= 1400px) {
    .w-#{$i}pc-xl {
      width: $percent;
    }
    .w-#{$i}vw-xl {
      width: #{$i}vw;
    }
    .h-#{$i}vh-xl {
      height: #{$i}vh;
    }
    .h-#{$i}pc-xl {
      height: $percent;
    }
    .left-#{$i}vw-xl {
      left: #{$i}vw;
    }
    .right-#{$i}vw-xl {
      right: #{$i}vw;
    }
    .top-#{$i}vh-xl {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-xl {
      bottom: #{$i}vh;
    }
    .letter-spacing-#{$i}px-xl {
      letter-spacing: #{$i}px;
    }
  }
  @media (1400px<width) {
    .w-#{$i}pc-xxl {
      width: $percent;
    }
    .w-#{$i}vw-xxl {
      width: #{$i}vw;
    }
    .h-#{$i}vh-xxl {
      height: #{$i}vh;
    }
    .h-#{$i}pc-xxl {
      height: $percent;
    }
    .left-#{$i}vw-xxl {
      left: #{$i}vw;
    }
    .right-#{$i}vw-xxl {
      right: #{$i}vw;
    }
    .top-#{$i}vh-xxl {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-xxl {
      bottom: #{$i}vh;
    }

    .letter-spacing-#{$i}px-xxl {
      letter-spacing: #{$i}px;
    }
  }
}

@for $i from -150 through 0 {
  @media (width<= 576px) {
    .top-#{$i}vh {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh {
      bottom: #{$i}vh;
    }
  }
  @media (576px<width<= 768px) {
    .top-#{$i}vh-sm {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-sm {
      bottom: #{$i}vh;
    }
  }
  @media (768px<width<= 992px) {
    .top-#{$i}vh-md {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-md {
      bottom: #{$i}vh;
    }
  }
  @media (992px<width<= 1200px) {
    .top-#{$i}vh-lg {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-lg {
      bottom: #{$i}vh;
    }
  }
  @media (1200px<width<= 1400px) {
    .top-#{$i}vh-xl {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-xl {
      bottom: #{$i}vh;
    }
  }
  @media (1400px<width) {
    .top-#{$i}vh-xxl {
      top: #{$i}vh;
    }
    .bottom-#{$i}vh-xxl {
      bottom: #{$i}vh;
    }
  }
}
@for $i from 409 through 1000 {
  $isMultipleOf10: $i % 10 == 0;
  @if $isMultipleOf10 {
    @media (width<= 576px) {
      .h-#{$i}px {
        height: #{$i}px;
      }
      .w-#{$i}px {
        width: #{$i}px;
      }
    }
    @media (576px<width<= 768px) {
      .h-#{$i}px-sm {
        height: #{$i}px;
      }
      .w-#{$i}px-sm {
        width: #{$i}px;
      }
    }
    @media (768px<width<= 992px) {
      .h-#{$i}px-md {
        height: #{$i}px;
      }
      .w-#{$i}px-md {
        width: #{$i}px;
      }
    }
    @media (992px<width<= 1200px) {
      .h-#{$i}px-lg {
        height: #{$i}px;
      }
      .w-#{$i}px-lg {
        width: #{$i}px;
      }
    }
    @media (1200px<width<= 1400px) {
      .h-#{$i}px-xl {
        height: #{$i}px;
      }
      .w-#{$i}px-xl {
        width: #{$i}px;
      }
    }
    @media (1400px<width) {
      .h-#{$i}px-xxl {
        height: #{$i}px;
      }
      .w-#{$i}px-xxl {
        width: #{$i}px;
      }
    }
  }
}
@for $i from -300 through 0 {
  $isMultipleOf2: $i % 2 == 0;
  @if $isMultipleOf2 {
    @media (width<= 576px) {
      .mt-#{$i}px {
        margin-top: #{$i}px;
      }
    }
    @media (576px<width<= 768px) {
      .mt-#{$i}px-sm {
        margin-top: #{$i}px;
      }
    }
    @media (768px<width<= 992px) {
      .mt-#{$i}px-md {
        margin-top: #{$i}px;
      }
    }
    @media (992px<width<= 1200px) {
      .mt-#{$i}px-lg {
        margin-top: #{$i}px;
      }
    }
    @media (1200px<width<= 1400px) {
      .mt-#{$i}px-xl {
        margin-top: #{$i}px;
      }
    }
    @media (1400px<width) {
      .mt-#{$i}px-xxl {
        margin-top: #{$i}px;
      }
    }
  }
}
